* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.b-blue {
    background-color: rgb(78, 175, 255);
}

.b-red {
    background-color: rgb(236, 61, 61);
}

.b-purple {
    background-color: rgb(161, 78, 255);
}

.b-green {
    background-color: rgb(91, 243, 71);
}

.b-orange {
    background-color: rgb(255, 193, 78);
}

.b-yellow {
    background-color: rgb(255, 243, 78);
}

.b-pink {
    background-color: rgb(255, 106, 210);
}

.basic-navbar {
    overflow: hidden;
    padding: 0 10%;
}

.basic-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-right a {
    float: right;
}
  
.basic-navbar a:hover {
    background-color: rgba(0,0,0,.2);
}
  
.basic-navbar a.active {
    background-color: rgba(0,0,0,.1);
    color: white;
}
  
.basic-navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .basic-navbar a:not(.active) {display: none;}
    .basic-navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .basic-navbar.responsive {position: relative;}
    .basic-navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .basic-navbar.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .basic-navbar {
        padding: 0;
    }
  }

.page-wrapper {
    width: 80%;
    margin: 10px auto;
}

@media screen and (max-width: 600px) {
    .page-wrapper {
        width: 95%;
        margin: 10px auto;
        display: block;
    }
}

.grid {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 700px) {
    [class*="col-"] {
        width: 100%;
        display: block;
        margin-top: 5px;
    }
}
a.button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
 a.button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
 }

a.rounded {
    border-radius:2em;
}

@media all and (max-width: 600px) {
    a.button {
        display: block;
        margin: 0.2em auto;
    }
}