<html>
    <head>
        <title>Buttons | A simple framework</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/snow.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="page-wrapper">
            <h3>btn btn-small</h3>
            <a href="#" class="btn btn-small b-red">This is a button!</a>
            <a href="#" class="btn btn-small b-orange">This is a button!</a>
            <a href="#" class="btn btn-small b-yellow">This is a button!</a>
            <a href="#" class="btn btn-small b-green">This is a button!</a>
            <a href="#" class="btn btn-small b-blue">This is a button!</a>
            <a href="#" class="btn btn-small b-purple">This is a button!</a>
            <a href="#" class="btn btn-small b-pink">This is a button!</a><br>
            <h3>btn btn-med</h3>
            <a href="#" class="btn btn-med b-red">This is a button!</a>
            <a href="#" class="btn btn-med b-orange">This is a button!</a>
            <a href="#" class="btn btn-med b-yellow">This is a button!</a>
            <a href="#" class="btn btn-med b-green">This is a button!</a>
            <a href="#" class="btn btn-med b-blue">This is a button!</a>
            <a href="#" class="btn btn-med b-purple">This is a button!</a>
            <a href="#" class="btn btn-med b-pink">This is a button!</a><br>
            <h3>btn btn-large</h3>
            <a href="#" class="btn btn-large b-red">This is a button!</a>
            <a href="#" class="btn btn-large b-orange">This is a button!</a>
            <a href="#" class="btn btn-large b-yellow">This is a button!</a>
            <a href="#" class="btn btn-large b-green">This is a button!</a>
            <a href="#" class="btn btn-large b-blue">This is a button!</a>
            <a href="#" class="btn btn-large b-purple">This is a button!</a>
            <a href="#" class="btn btn-large b-pink">This is a button!</a>
            
        </div>
    </body>
</html>